.container {
	background-color: grey;
}

.body {
	background-color: #f9d77e;
}
/*#F9D77E*/

.sideNav {
	background-color: #f9d77e;
}

material-icons {
	display: none;
}

#sizemenu {
	size: 10000000px;
}

.right {
	text-align: right;
}

.centervisito {
	text-align: center;
	grid-row: 0;
	background-color: transparent;
	margin-left: 50px;
	margin-right: 50px;
	color: white;
}

#right {
	text-align: right;
}

.container {
	grid-row: 0;
}

.container1 {
	grid-row: 1;
}

.nav-wrapper {
	background-color: darkslateblue;
}

.right hide-on-med-and-down {
	margin: 100px;
}
.material-icons {
	padding: 0px;
}
.collapsible,
ul.collapsible > li {
	border: 0 !important;
	box-shadow: none !important;
}

/* label focus color */
.input-field input:focus + label {
	color: blue !important;
}

/* icon prefix focus color */
.input-field .prefix.active {
	color: blue;
}

/* label underline focus color */
.input-field input:focus {
	border-bottom: 1px solid blue !important;
}
